{% extends 'base.html' %}

{% block content %}
<div class="container my-5">

    <ul class="list-group" id="items">
        
        
    </ul>

    <form method="POST" action="/shop/checkout/">{% csrf_token %}
        <fieldset id="disablingform" disabled>
        <div class="form-row mt-5">
            <input type="hidden" id="items" name="items">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Full Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Mobile No.</label>
                <input type="number" class="form-control" id="number" name="mobile_no">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" name="address1" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" name="address2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" name="city" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" class="form-control" name="state" id="inputstate">
                
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip" name="zipcode">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Place Order</button>
    </fieldset>
    </form>
</div>
{% endblock %}

{% block js %}
<script>
$('#items').val(JSON.stringify(cart));
if (localStorage.getItem('cart') == null){
   var cart = {};
}
else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
var sum = 0;
if ($.isEmptyObject(cart)){
    mystr = "Your cart is empty please add few items before checking out !!!";
    document.getElementById('items').innerHTML = mystr;
}
else{
    document.getElementById('disablingform').removeAttribute('disabled');
}
for (var item in cart){
    let name = cart[item][1];
    let qty = cart[item][0];
    sum = sum + qty;
    mystr = ` <li class="list-group-item d-flex justify-content-between align-items-center">
        ${name}
        <span class="badge badge-primary badge-pill">${qty}</span>
    </li> `;

    $('#items').append(mystr);
}
document.getElementById('cart').innerHTML = sum;
document.getElementById('closeCart').innerHTML = "";

{% if thank %}
alert("Thank you for shopping with us, your order is placed and your order id is : {{id}} !! ")
localStorage.clear();
document.location = "/shop";
{% endif %}

</script>
{% endblock %}