{% extends 'base.html' %}

{% block content %}
<div class="container my-4" style="border: 2px dashed black;">
    <h1><u>{{product.0.category}}</u></h1>
    <div class="row">
        <div class="col md-4 my-4">
            <img src="/media/{{product.0.image}}" width="100%">
        </div>
        <div class="col md-8 my-4">
            <h3>Product : {{product.0.name}}</h3>
            <h4>Price : {{product.0.price}}</h4>
            <h6>Description : {{product.0.desc}}</h6>
        </div>
    </div>

</div>
{% endblock %}