{% extends 'blog/blogbase.html' %}

{% block title %}{{post.title}}
{% endblock title %}
{% load humanize %}
{% block body %}
<div class="container my-5">
    <div class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timestamp}} by <a href="#"> {{post.author}} </a></p>

        <p> {{post.content}}</p>

        <div class="row">
            {% if user.is_authenticated %}
            <div class="col-md-1 my-3">
                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path fill-rule="evenodd"
                        d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                </svg>
            </div>
            <div class="col-md-11 my-3">
                <form action="/blog/blogpost/postcomment/" method="POST">
                    {% csrf_token %}
                    <input type="text" name="comment" class="form-control my-2" placeholder="Comment Here" id="comment">
                    <input type="hidden" value="{{post.id}}" name="postno">
                    <input type="submit" class="btn btn-warning" value="Post">
                </form>

            </div>
            {% else %}
            <div class="col-md-1 my-3">
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path fill-rule="evenodd"
                        d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                </svg>
            </div>
            <div class="col-md-11 my-3">
                <p>Login to post a comment</p>

            </div>
    {% endif %}
            {% for comment in comments %}
            <div class="col-md-1 my-3">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path fill-rule="evenodd"
                        d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                </svg>
            </div>
            <div class="col-md-11 my-3">
                <p>{{comment.timestamp| naturaltime}}<span> by <strong>{{comment.user}}</strong></span></p>
                <p>{{comment.comment}}</p>
            </div>
            {% endfor %}


        </div>

    </div>



    {% endblock body %}